<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <title>Swarup v1.0</title>
    
    <link rel="stylesheet" href="../static/dist/CSS/swarup.min.css">
    <style>
        :root{
            --theme-primary: #211c9f !important;
        }
        
    </style>
</head>
<body class="m-0 p-0" style="background-color: var(--theme-surface);">
    
    <!-- sw-navbar -->
    <nav class="sw-navbar p-1">
        
        <div class="sw-navbar-logo f-28 py-1 b-1">Swarup<span class="f-10 ml-5px">v1.0</span></div> 

        <div class="sw-navbar-list ml-10px mt-1">
            <div class="sw-navbar-link ">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">Documentation</div>
            </div>
            <div class="sw-navbar-link ">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">Components</div>
            </div>
            <div class="sw-navbar-link">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">Fonts</div>
            </div>
            <div class="sw-navbar-link">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">Spacing</div>
            </div>
            <div class="sw-navbar-link">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">Utilities</div>
            </div>
            <div class="sw-navbar-link">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">About</div>
            </div>
        </div>

        <div class="sw-navbar-list pos-absolute right">
            <div class="sw-navbar-link">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">
                    <button class="sw-btn sw-btn-invert">
                        Download
                    </button>
                </div>
            </div>
        </div>

    </nav>

    <div class="sw-container-fluid">
        <div class="sw-row">
            <div class="sw-col-2 sw-border-right">
                <h4 class="f-18">Components</h4>
                <ul>
                    <li>Alert</li>
                    <li>Button</li>
                    <li>Badge</li>
                    <li>Breadcrumb</li>
                    <li>Card</li>
                    <li>Carousel</li>
                    <li>Checkbox</li>
                    <li>Drawer</li>
                    <li>Dropdown</li>
                    <li>Form</li>
                    <li>Navbar</li>
                    <li>Pannels</li>
                    <li>Rails</li>
                    <li>Spinner</li>
                    <li>Select</li>
                    <li>Tabs</li>
                    <li>Table</li>
                    <li>Tooltip</li>
                </ul>
            </div>
            <div class="sw-col-10">
                <div class="sw-row">
                    <div class="sw-col-10"></div>
                    <div class="sw-col-2"></div>
                </div>
            </div>
        </div>
    </div>




    <script src="../static/dist/JS/swarup.min.js"></script>
    <script src="../static/src/power.js"></script>
</body>
</html>