<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <title>Swarup Experiments</title>
    <link rel="stylesheet" href="../static/dist/prod/CSS/swarup.min.css">
    <style>
        :root{
            --theme-primary: #1d1b1b !important;
        }
    </style>
</head>

<body style="margin: 0px;padding:0px">
    <div class="m-5">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, facilis error architecto adipisci commodi, in quia omnis similique optio dolor voluptatem suscipit velit beatae alias nobis harum obcaecati soluta voluptatum!
        </p>
        <p class="sharp-txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, facilis error architecto adipisci commodi, in quia omnis similique optio dolor voluptatem suscipit velit beatae alias nobis harum obcaecati soluta voluptatum!
        </p>
        <p class="money b-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, facilis error architecto adipisci commodi, in quia omnis similique optio dolor voluptatem suscipit velit beatae alias nobis harum obcaecati soluta voluptatum!
        </p>
    </div>

    <script src="../static/dist/prod/JS/swarup.min.js"></script>
    <script src="../static/src/power.js"></script>
</body>
</html>