<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <title>Swarup v1.0</title>
    
    <link rel="stylesheet" href="../static/dist/CSS/swarup.min.css">
    <style>
        :root{
            --theme-primary: #211c9f !important;
        }
        
    </style>
</head>
<body class="m-0 p-0" style="background-color: var(--theme-surface);">
    
    <!-- sw-navbar -->
    <nav class="sw-navbar p-1">
        
        <div class="sw-navbar-logo f-28 py-1 b-1">Swarup<span class="f-10 ml-5px">v1.0</span></div> 

        <div class="sw-navbar-list ml-10px mt-1">
            <div class="sw-navbar-link ">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">Documentation</div>
            </div>
            <div class="sw-navbar-link ">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">Components</div>
            </div>
            <div class="sw-navbar-link">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">Fonts</div>
            </div>
            <div class="sw-navbar-link">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">Spacing</div>
            </div>
            <div class="sw-navbar-link">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">Utilities</div>
            </div>
            <div class="sw-navbar-link">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">About</div>
            </div>
        </div>

        <div class="sw-navbar-list pos-absolute right">
            <div class="sw-navbar-link">
                <div class="sw-navbar-item sans-serif f-14 mx-5px">
                    <button class="sw-btn sw-btn-invert">
                        Download
                    </button>
                </div>
            </div>
        </div>

    </nav>

    <div class="sw-container pt-5">
        <div>
            <h1 class="f-64 w-75 b-1 sans-serif mb-0">Build theme-based, responsive sites <br> with Swarup</h1>
            <p class="f-28 w-50">
                
                Quickly design and customize responsive theme-based sites with Swarup,
                the front-end framework featuring bunch of prebuild components.

                <!-- 
                the UI/UX framework to build theme base responsive and text-friendly websites,
                featuring responsive grid system, extensive 52 pre-built components -->
            </p>
            <button class="sw-btn p-3 px-4 f-20">Get Started</button>
            <button class="sw-btn sw-btn-outline p-3 px-4 f-20">Download</button>
            <div class="mt-2">Currently v1.0</div>
        </div>
    </div>




    <script src="../static/dist/JS/swarup.min.js"></script>
    <script src="../static/src/power.js"></script>
</body>
</html>