<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <title>Swarup Experiments - Swarup v1.0</title>
    
    <link rel="stylesheet" href="../static/dist/CSS/swarup.min.css">
    <style>
        :root{
            --theme-primary: #211c9f !important;
        }
    </style>
</head>
<body>


    <script src="../static/dist/JS/swarup.min.js"></script>
    <script src="../static/src/power.js"></script>
</body>
</html>