<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <title>Swarup Experiments</title>
    <link rel="stylesheet" href="../../static/dist/CSS/swarup.min.css">
    <style>
        :root{
            --theme-primary: #1d1b1b !important;
        }
    </style>
</head>

<body style="margin: 0px;padding:0px">
    <div class="m-5">
        <label class="sw-checkbox">
            <input type="checkbox" > <div class="sw-check"></div> Check 1
        </label>
    </div>

    <script src="../../static/dist/JS/swarup.min.js"></script>
</body>
</html>